* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 36px;
}

.owner {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 3px;
    align-self: center;
}

.header p {
    font-size: 44px;
    cursor: pointer;
    color: blue;
}

.blogSection {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;

}

.blogContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    max-width: 1240px;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 50px;
}



.blog_card {
    display: grid;
    justify-content: center;
    place-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.2), -2px -3px 10px 2px rgba(0, 0, 0, 0.2);
    gap: 10px;


}

.blog_card img {
    max-width: 90%;
    margin: 5px auto;
}
.blog_card h1
,h2 {
    text-align: center;
    margin: 5px auto;
    font-size: 130%;
}
.blog_card 
,h2 {
    text-align: center;
    margin: 5px auto;
    font-size: 110%;
    font-weight: 100;
    letter-spacing: 2px;
}
.blog_card button{
    background-color:rgba(202, 72, 72, 0.212);
    color: Red;
    border: none;
    padding: 6px 10px;
    margin-bottom: 20px;
    width: 90%;
    margin: 10px auto;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 5px;

}
.createBlogSection {
    max-width: fit-content;
    margin: auto;
    border: 1px solid #ffffffd5;
    border-radius: 20px;
    background-color: rgba(168, 212, 198, 0.3);
    z-index: 10;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.2), -2px -3px 10px 2px rgba(0, 0, 0, 0.2);

}

.hideOrShow {
    display: none;
}

.fillBlogForm {

    display: grid;
    gap: 20px;
    padding: 20px 50px;
    justify-content: center;

}

.fillBlogForm input {
    padding: 6px 10px;
}

.fillBlogForm textarea {
    padding: 6px 10px;
}

.fillBlogForm button {
    padding: 7px 10px;
    background-color: rgb(19, 19, 163);
    color: white;
    border: none;
    border-radius: 10px;
}
.no_post{
    text-align: center;
    color: blue;
    letter-spacing: 2px;
    font-weight: 200;
}